flow.json
[
    {
        "id": "e632755d.fd6d48",
        "type": "ibmiot in",
        "z": "3a6a4e9b.b46ca2",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "linebot-server",
        "applicationId": "",
        "deviceType": "robot",
        "eventType": "text",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allEvents": false,
        "allCommands": "",
        "allFormats": true,
        "qos": 0,
        "x": 106,
        "y": 67.00000381469727,
        "wires": [
            [
                "878ea5d7.c4ee08",
                "79e10b9d.155ae4"
            ]
        ]
    },
    {
        "id": "c4ca0ac2.066af8",
        "type": "ibmiot out",
        "z": "3a6a4e9b.b46ca2",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "linebot-server",
        "deviceType": "robot",
        "eventCommandType": "reply",
        "format": "json",
        "data": "msg.payload",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 452.5000514984131,
        "y": 239.40002727508545,
        "wires": []
    },
    {
        "id": "878ea5d7.c4ee08",
        "type": "function",
        "z": "3a6a4e9b.b46ca2",
        "name": "input text",
        "func": "var m = msg.payload;\nif (m.type === 'text') {\n    node.warn(m.text);\n    msg.payload = m.text;\n    msg.user = m.user;\n    msg.message = m;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 133.50003623962402,
        "y": 127.19998073577881,
        "wires": [
            [
                "39255b3c.b3e004"
            ]
        ]
    },
    {
        "id": "2fde5d0b.dfb3a2",
        "type": "function",
        "z": "3a6a4e9b.b46ca2",
        "name": "ouput text",
        "func": "var output = msg.payload.output.text[0];\nnode.warn(output);\nmsg.payload = {\n    message: msg.message,\n    reply: {\n        text: output\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280.50000190734863,
        "y": 184.20002365112305,
        "wires": [
            [
                "c4ca0ac2.066af8",
                "eae8440d.f303f8"
            ]
        ]
    },
    {
        "id": "79e10b9d.155ae4",
        "type": "debug",
        "z": "3a6a4e9b.b46ca2",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 257.500036239624,
        "y": 67,
        "wires": []
    },
    {
        "id": "e037cae8.2c8508",
        "type": "debug",
        "z": "3a6a4e9b.b46ca2",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 463.5000591278076,
        "y": 127.40001773834229,
        "wires": []
    },
    {
        "id": "f65d595d.893558",
        "type": "weather_insights",
        "z": "3a6a4e9b.b46ca2",
        "name": "10-day forecasts",
        "host": "",
        "service": "/forecast/daily/10day.json",
        "geocode": "0,0",
        "units": "m",
        "language": "zh-TW",
        "x": 342.2727565765381,
        "y": 317.5090961456299,
        "wires": [
            [
                "f1def43e.18ed08"
            ]
        ]
    },
    {
        "id": "f1def43e.18ed08",
        "type": "function",
        "z": "3a6a4e9b.b46ca2",
        "name": "get tomorrow",
        "func": "msg.payload = msg.forecasts[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 511.3636531829834,
        "y": 317.6908988952637,
        "wires": [
            [
                "c0b7ca55.23f398"
            ]
        ]
    },
    {
        "id": "290b5f57.0bb6c",
        "type": "weather_insights",
        "z": "3a6a4e9b.b46ca2",
        "name": "current observations",
        "host": "",
        "service": "/observations.json",
        "geocode": "0,0",
        "units": "m",
        "language": "zh-TW",
        "x": 359.8182125091553,
        "y": 356.3272361755371,
        "wires": [
            [
                "be04a6ea.c08b78"
            ]
        ]
    },
    {
        "id": "be04a6ea.c08b78",
        "type": "function",
        "z": "3a6a4e9b.b46ca2",
        "name": "observation",
        "func": "msg.payload = msg.observation;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 545.181791305542,
        "y": 357.6908845901489,
        "wires": [
            [
                "ed3ed846.d4a4a8"
            ]
        ]
    },
    {
        "id": "ed3ed846.d4a4a8",
        "type": "debug",
        "z": "3a6a4e9b.b46ca2",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 705.8182048797607,
        "y": 357.8727207183838,
        "wires": []
    },
    {
        "id": "3d2a4825.43f688",
        "type": "inject",
        "z": "3a6a4e9b.b46ca2",
        "name": "",
        "topic": "",
        "payload": "25.033493,121.564101",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 141.90912437438965,
        "y": 355.87267112731934,
        "wires": [
            [
                "290b5f57.0bb6c"
            ]
        ]
    },
    {
        "id": "d2c8cef8.a6f0f",
        "type": "inject",
        "z": "3a6a4e9b.b46ca2",
        "name": "",
        "topic": "",
        "payload": "25.033493,121.564101",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 142.3636531829834,
        "y": 317.87269592285156,
        "wires": [
            [
                "f65d595d.893558"
            ]
        ]
    },
    {
        "id": "c0b7ca55.23f398",
        "type": "debug",
        "z": "3a6a4e9b.b46ca2",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 672.2726936340332,
        "y": 317.5090751647949,
        "wires": []
    },
    {
        "id": "eae8440d.f303f8",
        "type": "debug",
        "z": "3a6a4e9b.b46ca2",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 442.4999752044678,
        "y": 184.7999782562256,
        "wires": []
    },
    {
        "id": "39255b3c.b3e004",
        "type": "watson-conversation-v1",
        "z": "3a6a4e9b.b46ca2",
        "name": "",
        "workspaceid": "89a67e22-42d8-4f4c-92e5-1481bb641150",
        "multiuser": true,
        "context": true,
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
        "x": 284.1000061035156,
        "y": 128.0000033378601,
        "wires": [
            [
                "e037cae8.2c8508",
                "2fde5d0b.dfb3a2"
            ]
        ]
    }
]