line_tutorial.json
[{"id":"bf92e2bc.399a9","type":"http in","z":"936eac37.8a9f5","name":"line_hook[post]","url":"/line_hook","method":"post","swaggerDoc":"","x":122,"y":60,"wires":[["661e0359.26e7ec","66ea5c3d.41d2e4"]]},{"id":"164e9a31.98c006","type":"http response","z":"936eac37.8a9f5","name":"response_hook_api","x":900.5,"y":118,"wires":[]},{"id":"661e0359.26e7ec","type":"json","z":"936eac37.8a9f5","name":"line_post_body","x":340.5,"y":59,"wires":[["15b4cd3b.9fa683"]]},{"id":"ed67e2b7.0da7e","type":"http request","z":"936eac37.8a9f5","name":"send_result","method":"POST","ret":"txt","url":"https://api.line.me/v2/bot/message/push","tls":"","x":348.5,"y":576,"wires":[["8660d097.5f61b"]]},{"id":"66ea5c3d.41d2e4","type":"function","z":"936eac37.8a9f5","name":"response_none","func":"msg.payload =undefined\nreturn msg;","outputs":1,"noerr":0,"x":649,"y":117,"wires":[["164e9a31.98c006"]]},{"id":"15b4cd3b.9fa683","type":"function","z":"936eac37.8a9f5","name":"secret_key_set","func":"var token = 'your channel token'\nvar secret = 'your channel secret'\nmsg.key = secret;\nreturn msg;","outputs":1,"noerr":0,"x":533.5,"y":59,"wires":[["dcaa4ccd.93347"]]},{"id":"78654e81.ef008","type":"function","z":"936eac37.8a9f5","name":"process_result","func":"var tones = msg.response.document_tone.tone_categories[0].tones;\nvar indexOfMax = (tones)=>{\n    var index = 0,\n        max = 0;\n    tones.map((x)=>x.score).forEach((v,i)=>{\n        if(max<v){max=v;index=i}\n    })\n    return index\n}\nvar index = indexOfMax(tones);\nemotion = tones[index].tone_name;\nswitch(emotion){\n    case 'Anger':\n        msg.emotion=\"険悪\"\n        msg.message=\"もうちょっと空気読んでね\"; \n        break;\n    case 'Disgust':\n        msg.emotion=\"最悪\"\n        msg.message=\"少し距離置いた方がいいんじゃない\"; \n        break;\n    case 'Fear':\n        msg.message=\"良くない\";\n        msg.message=\"相手が怖がってるから言葉を選ぼう\";\n        break;\n    case 'Saddness':\n        msg.message=\"冷たくし過ぎ\";\n        msg.message=\"もうちょっと構ってあげて\";\n        break;\n    case 'Joy':\n        msg.message=\"とってもいいって\";\n        msg.message=\"いい感じだね\"; \n        break;\n}\n\nmsg.headers = {\"Authorization\":\"Bearer 'your bearer token'\"}\nmsg.headers[\"Content-Type\"] = \"application/json\"\nmsg.to=\"target line talk\"\nreturn msg","outputs":1,"noerr":0,"x":537,"y":489,"wires":[["fe7b50bb.b6358"]]},{"id":"b2244193.7fbe3","type":"switch","z":"936eac37.8a9f5","name":"message_type","property":"type","propertyType":"flow","rules":[{"t":"eq","v":"group","vt":"str"},{"t":"eq","v":"room","vt":"str"},{"t":"eq","v":"user","vt":"str"},{"t":"else"}],"checkall":"false","outputs":4,"x":188.5,"y":318,"wires":[["35e7c201.d04d1e"],["35e7c201.d04d1e"],["7d6b7ec5.4657c"],["f21e2945.2223c8"]]},{"id":"35e7c201.d04d1e","type":"function","z":"936eac37.8a9f5","name":"process_text_message","func":"records = flow.get('records')\nmsg.payload = records[Number(flow.get(\"i\"))]\nreturn msg;","outputs":1,"noerr":0,"x":466.5,"y":299,"wires":[["ac537221.40124","3dcd3424.565e0c"]]},{"id":"687e3845.b86828","type":"cloudant out","z":"936eac37.8a9f5","name":"line_messages","cloudant":"","database":"line_messages","service":"nodered-line-bot-tutorial-cloudantNoSQLDB","payonly":true,"operation":"insert","x":896.5,"y":298,"wires":[]},{"id":"bd1e2707.dc3a98","type":"cloudant in","z":"936eac37.8a9f5","name":"line_messages","cloudant":"","database":"line_messages","service":"nodered-line-bot-tutorial-cloudantNoSQLDB","search":"_idx_","design":"Index","index":"talkId","x":327.5,"y":407,"wires":[["f3b59ce6.3d814"]]},{"id":"dcaa4ccd.93347","type":"function","z":"936eac37.8a9f5","name":"line_authentication","func":"var crypto =  global.get('crypto');\n//JSON.stringify(msg.payload);\nconst text = msg.payload\nconst hash = crypto.createHmac('sha256',msg.key);\nhash.update(Buffer(text),'utf8')\nvar result = hash.digest('base64');\nmsg.authentication = result===msg.req.headers[\"x-line-signature\"]\nreturn msg;","outputs":1,"noerr":0,"x":199,"y":159,"wires":[["582b7671.c52aa8"]]},{"id":"582b7671.c52aa8","type":"switch","z":"936eac37.8a9f5","name":"authentication?","property":"authentication","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":471.5,"y":158,"wires":[["bf2202f4.a2649"],["d90b9b1e.f0ff68"]]},{"id":"ac537221.40124","type":"function","z":"936eac37.8a9f5","name":"i++","func":"if(msg.i < msg.length-1) msg.i++\nelse flow.set('type','through')\nreturn msg;","outputs":1,"noerr":0,"x":453.5,"y":225,"wires":[["b2244193.7fbe3"]]},{"id":"bf2202f4.a2649","type":"function","z":"936eac37.8a9f5","name":"i=0,length=records.length","func":"var i = 0\nvar records = JSON.parse(msg.payload).events\nvar length = records.length\nflow.set('i',i)\nflow.set('records',JSON.parse(msg.payload).events)\nflow.set('length',records.length)\nflow.set('type',records[i].source.type)\nreturn msg","outputs":1,"noerr":0,"x":215,"y":228,"wires":[["b2244193.7fbe3"]]},{"id":"f21e2945.2223c8","type":"debug","z":"936eac37.8a9f5","name":"log","active":true,"console":"false","complete":"payload","x":347,"y":336,"wires":[]},{"id":"3dcd3424.565e0c","type":"switch","z":"936eac37.8a9f5","name":"ismessage?","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"}],"checkall":"true","outputs":1,"x":706.5,"y":298,"wires":[["687e3845.b86828"]]},{"id":"8660d097.5f61b","type":"http response","z":"936eac37.8a9f5","name":"response","x":531.5,"y":576,"wires":[]},{"id":"1eb3983f.a27f68","type":"debug","z":"936eac37.8a9f5","name":"sent_message","active":true,"console":"false","complete":"payload","x":736.5,"y":579,"wires":[]},{"id":"fe7b50bb.b6358","type":"template","z":"936eac37.8a9f5","name":"message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\t\"to\":\"{{to}}\",\n\t\"messages\":[\n\t\t{\n\t\t\t\"type\":\"text\",\n\t\t\t\"text\":\"今の会話の雰囲気は{{emotion}}って感じだよ。{{message}}\"\n\t\t}\n\t\t]\n}","x":712.5,"y":489,"wires":[["5ccf512a.f7a76"]]},{"id":"7d6b7ec5.4657c","type":"function","z":"936eac37.8a9f5","name":"query","func":"msg.payload = {\n    \"query\":\"groupId:yourconditionquery AND type:message\",\n    \"limit\":100,\n    \"include_fields\":[\"type\"],\n    \"include_docs\":false\n}\nreturn msg;","outputs":1,"noerr":0,"x":155.5,"y":407,"wires":[["bd1e2707.dc3a98"]]},{"id":"87d6cdd.4c72c3","type":"watson-tone-analyzer-v3","z":"936eac37.8a9f5","name":"emotion analyze","tones":"emotion","sentences":"false","contentType":"false","x":356.5,"y":489,"wires":[["78654e81.ef008"]]},{"id":"f3b59ce6.3d814","type":"function","z":"936eac37.8a9f5","name":"sanitize_records","func":"texts = msg.payload\ntext = texts.map((x)=>{\n    return x.message.text\n}).join('');\nmsg.payload={\n    \"key\":\"your yandex translate key\",\n    \"text\":text,\n    \"lang\":\"en\"\n};\nmsg.headers = {}\nmsg.headers[\"Content-Type\"] = \"application/x-www-form-urlencoded\"\n\nreturn msg;","outputs":1,"noerr":0,"x":529.5,"y":407,"wires":[["12085034.af3ca"]]},{"id":"5ccf512a.f7a76","type":"json","z":"936eac37.8a9f5","name":"","x":869.5,"y":489,"wires":[["1eb3983f.a27f68","ed67e2b7.0da7e"]]},{"id":"d90b9b1e.f0ff68","type":"debug","z":"936eac37.8a9f5","name":"log","active":true,"console":"false","complete":"payload","x":675,"y":165,"wires":[]},{"id":"12085034.af3ca","type":"http request","z":"936eac37.8a9f5","name":"translate","method":"POST","ret":"txt","url":"https://translate.yandex.net/api/v1.5/tr.json/translate","tls":"","x":725.5,"y":406,"wires":[["c5eb792c.05e208"]]},{"id":"c5eb792c.05e208","type":"function","z":"936eac37.8a9f5","name":"input_data","func":"msg.payload = JSON.parse(msg.payload).text.join(' ');\nreturn msg;","outputs":1,"noerr":0,"x":171.5,"y":489,"wires":[["87d6cdd.4c72c3","3532950f.12374a"]]},{"id":"3532950f.12374a","type":"debug","z":"936eac37.8a9f5","name":"input data","active":true,"console":"false","complete":"payload","x":111.5,"y":574,"wires":[]}]